  @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      text-decoration: none;
      outline: none;
      scroll-behavior: smooth;
      font-family: 'Cairo', sans-serif;
      font-family: 'Poppins', sans-serif;
  }

  :root {
      --bg-color: #081b29;
      --second-bg-color: #112e42;
      --text-color: #ededed;
      --main-color: #00abf0;
      /* courses */
      --front: 1;
      --back-end: 2;

      --html: 1;
      --css: 2;
      --java-script: 3;
      --jquery: 4;
      --Bootstrp: 5;
      --angular: 6;
      --react: 7;
      --vue-js: 8;
      --sass: 9;
      --tailwind-css: 10;
      --C-Sharp: 1;
      --linq: 2;
      --e-f-w: 3;
      --mvc: 4;
      --signal-r: 5;
      --api: 6;
      --data-strucure: 7;
  }

  html {
      font-size: 62.5%;
      overflow-x: hidden;
  }

  body {
      background-color: var(--bg-color);
  }


  /* mobile mode */
  @media screen and (max-width: 700px) {
      .header {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          padding: 2rem 9%;
          background-color: var(--second-bg-color);
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          z-index: 100;
      }

      .logo {
          font-size: 2rem;
          color: var(--text-color);
          font-weight: 600;
      }

      .navbar a {
          font-size: 1.7rem;
          color: var(--text-color);
          font-weight: 500;
          margin-left: 3rem;
          transition: 0.5s;
      }

      .navbar a:hover,
      .navbar a.active {
          color: var(--main-color);
          font-weight: bold;
      }

      .navbar {
          display: none;
      }

      #menu-icon {
          font-size: 3.6rem;
          color: var(--text-color);
          cursor: pointer;
      }

      #menu-btn-collapse {

          
          flex-direction: column;
          color: var(--text-color);
          font-size: 1.7rem;
          font-weight: 500;
          list-style: none;
          border: .2rem solid var(--main-color);
          padding: .5rem;
          border-radius: .5rem;
          background-color: var(--second-bg-color);
          z-index: 2000;
          margin-top: 10rem;
          width: 90%;
          margin-left: auto;
          margin-right: auto;
      }
.d-none{
    display: none;
}
      #menu-btn-collapse li a {
          color: var(--text-color);
          font-size: 3rem;
          font-weight: 500;
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          border: .2rem solid var(--main-color);
          border-radius: .5rem;
          margin-right: 2rem;
          margin: 1rem 0;

          /* z-index: 20; */

      }

      ;

      #menu-btn-collapse li:hover {
          background-color: var(--main-color);
          color: var(--bg-color);
      }

      #Mohamed-image {
          visibility: hidden;
          border: 0.3rem dashed var(--text-color);
          border-radius: 2rem;
          width: 34rem;
          height: auto;
          display: inline-block;
          position: absolute;
          top: 30%;
          right: 10%;
          opacity: 0.8;
          transition: 2s;
      }

      ;

      #Mohamed-image:hover {

          opacity: 0.1;
          border: none;
          transform: translateX(10rem);

      }

      ;

      .home-content h1 {
          font-size: 10rem !important;
          font-weight: 600;
          line-height: 1.3;
      }

      .home-content .text-animate {
          position: relative;
          width: 200rem;
      }

      .home-content h1 {
          -webkit-text-stroke: 1px var(--main-color);
          font-size: 3.5rem;
      }

      .home-content .text-animate h3 {
          font-size: 2.5rem;
          font-weight: 700;
          color: transparent;
          -webkit-text-stroke: 0.7px var(--main-color);
          letter-spacing: .5rem;
      }

      .home-content p {
          font-size: 1.6rem;
          margin: 2rem 0 4rem;
          color: var(--text-color);
          width: 60%;
      }

      ;

      .home-content {
          max-width: 300rem;


      }

      section {
          min-height: 100vh;
          padding: 8rem 9% 2rem;
      }

      .home {
          display: flex;
          align-items: center;
          padding: 0 9%;
          width: 100%;
      }

      ;

      .heading {
          font-size: 5rem;
          margin-bottom: 3rem;
          text-align: center;
          color: var(--text-color);
          text-align: center;
      }

      .about-img {
          position: relative;
          width: 25rem;
          height: 25rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .about-img img {
          width: 90%;
          border: 0.2rem solid var(--main-color);
          border-radius: 50%;
      }

      .about-img .circle-spin {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          transform: translate(-50%, -50%) rotate(0);
          border-radius: 50%;
          border-top: .5rem solid var(--main-color);
          border-bottom: .5rem solid var(--main-color);
          border-left: .5rem solid transparent;
          border-right: .5rem solid transparent;
      }

      .about-content {
          text-align: center;
      }

      .about-content h3 {
          font-size: 2.6rem;
          color: var(--text-color);
      }

      .about-content p {
          font-size: 1.3rem;
          font-weight: 600;
          text-align: justify;
          line-height: 2;
          letter-spacing: .2rem;
          color: var(--text-color);
      }

      .heading {
          color: var(--text-color);
          font-size: 2.5rem;
          text-align: center
      }

      ;

      h3.title {
          color: var(--text-color);
          text-align: center;
          font-size: 3rem;
          margin-bottom: 2rem;
      }

      h2 span {
          color: var(--main-color);
      }

      .education-box {
          display: flex;
          justify-content: center;
          gap: 2rem;
          position: relative;
      }

      .education h2 {
          text-align: center;
      }

      h3.title {
          text-align: center;
          color: var(--text-color);
          font-size: 2rem;
          margin-bottom: 1rem;
      }

      .education-content .content {
          color: var(--text-color);
          font-size: 1.5rem;
          border: 0.3rem solid var(--main-color);
          padding: 0.5rem;
          border-radius: 1rem;
          text-align: justify;
          line-height: 2;
          z-index: 1;
          overflow: hidden;
          position: relative;
      }

      .education-content .content::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: var(--second-bg-color);
          z-index: -1;
          transition: 1.5s;
      }

      .education-content .content:hover::before {
          width: 100%;
      }

      ;

      .btn-box {
          position: relative;
          display: flex;
          justify-content: space-between;
          width: 34.5rem;

      }

      .btn-box .btn {
          position: relative;
          display: inline-flex;
          height: 100%;
          width: 15rem;
          justify-content: center;
          align-items: center;
          background-color: var(--main-color);
          border: .2rem solid var(--main-color);
          border-radius: .8rem;
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: .1rem;
          color: var(--bg-color);
          z-index: 1;
          overflow: hidden;
          transition: 0.5s;
      }

      .btn-box .btn:nth-child(2) {
          background-color: transparent;
          color: var(--main-color);
      }

      .btn-box .btn:nth-child(1):hover {
          color: var(--main-color);
      }

      .btn-box .btn:nth-child(2):hover {
          color: var(--bg-color);
      }

      .btn-box .btn:nth-child(2)::before {
          background-color: var(--main-color);

      }

      .btn-box .btn::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: var(--bg-color);
          z-index: -2;
          transition: .7s;
      }

      .btn-box .btn:hover::before {
          width: 100%;


      }

      .home-sci {
          position: absolute;
          bottom: 4rem;
          width: 30rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 2.5rem;

      }

      .home-sci a {
          position: relative;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 4.5rem;
          height: 4.5rem;
          background-color: transparent;
          border: 0.2rem solid var(--main-color);
          border-radius: 50%;
          color: var(--main-color);
          font-size: 3rem;
          z-index: 1;
          overflow: hidden;
          transition: 0.5s;
      }

      .home-sci a:hover {
          color: var(--bg-color)
      }

      .home-sci a::before {
          content: '';
          position: absolute;
          width: 0;
          height: 100%;
          top: 0;
          left: 0;
          background-color: var(--main-color);
          z-index: -1;
          transition: 0.5s
      }

      .home-sci a:hover::before {
          width: 100%;
      }

      .aboutme {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 2rem;
          background-color: var(--second-bg-color);
          padding-bottom: 6rem;
      }

      .aboutme span {
          color: var(--main-color);
      }

      .year {
          text-align: center;
      }

      .degree {
          text-align: center;
          color: var(--main-color);
      }

      .year i {
          margin-right: 1rem;
      }

      .skills {
          min-height: auto;
          padding-bottom: 7rem;
          background-color: var(--second-bg-color);
      }

      .skills .skills-row {
          display: flex;
          flex-wrap: wrap;
          gap: 5rem;
      }

      .skills-row .skills-colums {
          flex: 1 1 40rem;
      }

      .skills-colums .title {
          font-size: 2.5rem;
          margin: 0 0 1.5rem;
      }

      .skills-colums .skill-content {
          position: relative;
          border: .2rem solid var(--main-color);
          border-radius: 1rem;
          padding: .5rem 1.5rem;
          z-index: 1;
          color: var(--text-color);
      }

      .skills-colums .skill-content::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: var(--bg-color);
          z-index: -1;
          transition: 1.3s;
      }

      .skills-colums .skill-content:hover::before {
          width: 100%;
      }

      .skill-content .progress {
          padding: 1rem 0;
      }

      .skill-content .progress h3 {
          font-size: 1.7rem;
          display: flex;
          justify-content: space-between;
      }

      .skill-content .progress h3 span {
          color: var(--text-color);
      }

      .skill-content .progress .bar {
          height: 2.5rem;
          border-radius: .6rem;
          border: .2rem solid var(--main-color);
          padding: .5rem;
          margin: 1rem 0;
      }

      .skill-content .progress .bar span {
          display: block;
          height: 100%;
          border-radius: .3rem;
          background-color: transparent;
      }

      /* percentages of courses */
      /* html */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(1) .bar span {
          width: 90%;
          background-color: green;
      }

      /* css */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(2) .bar span {
          width: 80%;
          background-color: green;

      }

      /* js */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(3) .bar span {
          width: 80%;
          background: green;
      }

      /* jquery */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(4) .bar span {
          width: 75%;
          background-color: darkorange;
      }

      /* bs */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(5) .bar span {
          width: 85%;
          background: #008000;
      }

      /* angular */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(6) .bar span {
          width: 85%;
          background: #008000;

      }

      /* react */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(7) .bar span {
          width: 80%;
          background: #008000;

      }

      /* vue */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(8) .bar span {
          width: 75%;
          background: darkorange;

      }

      /* sass */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(9) .bar span {
          width: 90%;
          background: green;
      }

      /* tailwind css */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(10) .bar span {
          width: 90%;
          background: green;
      }

      /* back-end skills */
      /* C# */
      .skills-colums:nth-child(2) .skill-content .progress:nth-child(1) .bar span {
          width: 90%;
          background: green;

      }

      /* linq */
      .skills-colums:nth-child(2) .skill-content .progress:nth-child(2) .bar span {
          width: 85%;
          background: green;

      }

      /* e f w */
      .skills-colums:nth-child(2) .skill-content .progress:nth-child(3) .bar span {
          width: 85%;
          background-color: green;
      }

      /* sql */
      .skills-colums:nth-child(2) .skill-content .progress:nth-child(4) .bar span {
          width: 80%;
          background-color: green;

      }

      /* mvc */
      .skills-colums:nth-child(2) .skill-content .progress:nth-child(5) .bar span {
          width: 88%;
          background-color: green;

      }

      /* signal r */
      .skills-colums:nth-child(2) .skill-content .progress:nth-child(6) .bar span {
          width: 90%;
          background-color: green;

      }

      /* api  */
.skills-colums:nth-child(2) .skill-content .progress:nth-child(7) .bar span {
          width: 85%;
          background-color: green;
      }

      


.skills-colums:nth-child(2) .skill-content .progress:nth-child(8) .bar span {
          display: block;
          width: 90% !important;
          background-color: green;
      }

    

.skills-colums:nth-child(2) .skill-content .progress:nth-child(9) .bar span {
          width: 80% !important;
          background-color: green;
      }


      section.projects h2.heading {
          text-align: center;
      }

      ;

      section.projects {
          display: unset;
          border: unset;
      }

      .projects-row {
          display: flex !important;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          color: var(--text-color);
      }

      ;

      .projects-column {
          border: .3rem solid var(--main-color);
          overflow: visible;
      }

      .projects-column .project-name {
          text-align: center;
          font-size: 2rem;
          width: 16rem;
          margin: 0 auto;
          border-radius: 1rem;
          border: .2rem solid var(--main-color);
      }

      .projects-column .project-technology {
          text-align: center;
          font-size: 2rem;
          width: 32rem;
          margin: 1rem auto;
          border-radius: 1rem;
          border: .2rem solid var(--main-color);

      }

      .projects-column img {
          width: 100%;
          border: .2rem solid var(--main-color);
          border-radius: .5rem;
      }

      .projects-column .project-github-btn {
          width: 20rem;
          margin: 1rem auto;
          border: .2rem solid var(--main-color);
          border-radius: .5rem;
          text-align: center;
          padding: .1rem;
          display: block;
          font-size: 2rem;
          color: var(--text-color);
          letter-spacing: 1.4;
          word-spacing: 3;
          transition: .8s;
      }

      .projects-column .project-github-btn:hover {
          width: 20rem;
          margin: 1rem auto;
          border: .2rem solid var(--main-color);
          border-radius: .5rem;
          text-align: center;
          padding: .1rem;
          display: block;
          font-size: 2rem;
          color: var(--second-bg-color);
          letter-spacing: 1.4;
          word-spacing: 3;
          background-color: var(--main-color);
      }


  }



  /* tablet and desktop mode */
  @media screen and (min-width: 700px) {
      .header {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          padding: 2rem 9%;
          background-color: var(--second-bg-color);
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          z-index: 100;
      }

      .logo {
          font-size: 2rem;
          color: var(--text-color);
          font-weight: 600;
      }

      .navbar a {
          font-size: 2.8rem;
          color: var(--text-color);
          font-weight: 500;
          margin-left: 3rem;
          transition: 0.5s;
      }

      .navbar a:hover,
      .navbar a.active {
          color: var(--main-color);
          font-weight: bold;
      }

      #menu-icon {
          font-size: 3.6rem;
          color: var(--text-color);
          cursor: pointer;
          display: none;
      }

      #menu-btn-collapse {

          display: none;
          flex-direction: column;
          color: var(--text-color);
          font-size: 1.7rem;
          font-weight: 500;
          list-style: none;
          border: .2rem solid var(--main-color);
          padding: .5rem;
          border-radius: .5rem;
          background-color: var(--second-bg-color);
          z-index: 2000;
          margin-top: 10rem;
          width: 90%;
          margin-left: auto;
          margin-right: auto;
      }

      #menu-btn-collapse li a {
          color: var(--text-color);
          font-size: 3rem;
          font-weight: 500;
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          border: .2rem solid var(--main-color);
          border-radius: .5rem;
          margin-right: 2rem;
          margin: 1rem 0;

          /* z-index: 20; */

      }

      ;

      #menu-btn-collapse li:hover {
          background-color: var(--main-color);
          color: var(--bg-color);
      }

      #Mohamed-image {
          visibility: unset;
          border: 0.3rem dashed var(--text-color);
          border-radius: 2rem;
          width: 34rem;
          height: auto;
          display: inline-block;
          position: absolute;
          top: 30%;
          right: 10%;
          opacity: 0.8;
          transition: 2s;
      }

      ;

      #Mohamed-image:hover {

          opacity: 0.1;
          border: none;
          transform: translateX(10rem);

      }

      ;

      .home-content h1 {
          font-size: 10rem !important;
          font-weight: 600;
          line-height: 1.3;
      }

      .home-content .text-animate {
          position: relative;
          width: 200rem;
      }

      .home-content h1 {
          -webkit-text-stroke: 1px var(--main-color);
          font-size: 7rem;
      }

      .home-content .text-animate h3 {
          font-size: 3rem;
          font-weight: 700;
          color: transparent;
          -webkit-text-stroke: 0.7px var(--main-color);
          letter-spacing: .5rem;
      }

      .home-content p {
          font-size: 1.6rem;
          margin: 2rem 0 4rem;
          color: var(--text-color);
          width: 60%;
      }

      ;

      .home-content {
          max-width: 300rem;


      }

      section {
          min-height: 100vh;
          padding: 8rem 9% 2rem;
      }

      .home {
          display: flex;
          align-items: center;
          padding: 0 9%;
          width: 100%;
      }

      ;

      .heading {
          font-size: 7rem;
          margin-bottom: 3rem;
          text-align: center;
          color: var(--text-color);
          text-align: center;
      }

      .about-img {
          position: relative;
          width: 25rem;
          height: 25rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .about-img img {
          width: 90%;
          border: 0.2rem solid var(--main-color);
          border-radius: 50%;
      }

      .about-img .circle-spin {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          transform: translate(-50%, -50%) rotate(0);
          border-radius: 50%;
          border-top: .5rem solid var(--main-color);
          border-bottom: .5rem solid var(--main-color);
          border-left: .5rem solid transparent;
          border-right: .5rem solid transparent;
      }

      .about-content {
          text-align: center;
      }

      .about-content h3 {
          font-size: 3.2rem;
          color: var(--text-color);
      }

      .about-content p {
          font-size: 2.5rem;
          font-weight: 600;
          text-align: justify;
          line-height: 2;
          letter-spacing: .2rem;
          color: var(--text-color);
      }

      .heading {
          color: var(--text-color);
          font-size: 3.5rem;
          text-align: center;
          letter-spacing: 3
      }

      ;

      h3.title {
          color: var(--text-color);
          text-align: center;
          font-size: 3rem;
          margin-bottom: 3rem;
      }

      h2 span {
          color: var(--main-color);
      }

      .education-box {
          display: flex;
          justify-content: center;
          gap: 2rem;
          position: relative;
      }

      .education h2 {
          text-align: center;
      }

      h3.title {
          text-align: center;
          color: var(--text-color);
          font-size: 3rem;
          margin-bottom: 1rem;
      }

      .education-content .content {
          color: var(--text-color);
          font-size: 2.5rem;
          border: 0.3rem solid var(--main-color);
          padding: 0.5rem;
          border-radius: 1rem;
          text-align: justify;
          line-height: 2;
          z-index: 1;
          overflow: hidden;
          position: relative;
      }

      .education-content .content::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: var(--second-bg-color);
          z-index: -1;
          transition: 1.5s;
      }

      .education-content .content:hover::before {
          width: 100%;
      }

      ;

      .btn-box {
          position: relative;
          display: flex;
          justify-content: space-between;
          width: 34.5rem;

      }

      .btn-box .btn {
          position: relative;
          display: inline-flex;
          height: 100%;
          width: 15rem;
          justify-content: center;
          align-items: center;
          background-color: var(--main-color);
          border: .2rem solid var(--main-color);
          border-radius: .8rem;
          font-size: 2rem;
          font-weight: 600;
          letter-spacing: .1rem;
          color: var(--bg-color);
          z-index: 1;
          overflow: hidden;
          transition: 0.5s;
      }

      .btn-box .btn:nth-child(2) {
          background-color: transparent;
          color: var(--main-color);
      }

      .btn-box .btn:nth-child(1):hover {
          color: var(--main-color);
      }

      .btn-box .btn:nth-child(2):hover {
          color: var(--bg-color);
      }

      .btn-box .btn:nth-child(2)::before {
          background-color: var(--main-color);

      }

      .btn-box .btn::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: var(--bg-color);
          z-index: -2;
          transition: .7s;
      }

      .btn-box .btn:hover::before {
          width: 100%;


      }

      .home-sci {
          position: absolute;
          bottom: 4rem;
          width: 30rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 2.5rem;

      }

      .home-sci a {
          position: relative;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 4.5rem;
          height: 4.5rem;
          background-color: transparent;
          border: 0.2rem solid var(--main-color);
          border-radius: 50%;
          color: var(--main-color);
          font-size: 3rem;
          z-index: 1;
          overflow: hidden;
          transition: 0.5s;
      }

      .home-sci a:hover {
          color: var(--bg-color)
      }

      .home-sci a::before {
          content: '';
          position: absolute;
          width: 0;
          height: 100%;
          top: 0;
          left: 0;
          background-color: var(--main-color);
          z-index: -1;
          transition: 0.5s
      }

      .home-sci a:hover::before {
          width: 100%;
      }

      .aboutme {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 2rem;
          background-color: var(--second-bg-color);
          padding-bottom: 6rem;
      }

      .aboutme span {
          color: var(--main-color);
      }

      .year {
          text-align: center;
      }

      .degree {
          text-align: center;
          color: var(--main-color);
      }

      .year i {
          margin-right: 1rem;
      }

      .skills {
          min-height: auto;
          padding-bottom: 7rem;
          background-color: var(--second-bg-color);
      }

      .skills .skills-row {
          display: flex;
          flex-wrap: wrap;
          gap: 5rem;
      }

      .skills-row .skills-colums {
          flex: 1 1 40rem;
      }

      .skills-colums .title {
          font-size: 2.5rem;
          margin: 0 0 1.5rem;
      }

      .skills-colums .skill-content {
          position: relative;
          border: .2rem solid var(--main-color);
          border-radius: 1rem;
          padding: .5rem 1.5rem;
          z-index: 1;
          color: var(--text-color);
      }

      .skills-colums .skill-content::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: var(--bg-color);
          z-index: -1;
          transition: 1.3s;
      }

      .skills-colums .skill-content:hover::before {
          width: 100%;
      }

      .skill-content .progress {
          padding: 1rem 0;
      }

      .skill-content .progress h3 {
          font-size: 1.7rem;
          display: flex;
          justify-content: space-between;
      }

      .skill-content .progress h3 span {
          color: var(--text-color);
      }

      .skill-content .progress .bar {
          height: 2.5rem;
          border-radius: .6rem;
          border: .2rem solid var(--main-color);
          padding: .5rem;
          margin: 1rem 0;
      }

      .skill-content .progress .bar span {
          display: block;
          height: 100%;
          border-radius: .3rem;
          background-color: transparent;
      }

      /* percentages of courses */
      /* html */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(1) .bar span {
          width: 90%;
          background-color: green;
      }

      /* css */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(2) .bar span {
          width: 80%;
          background-color: green;

      }

      /* js */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(3) .bar span {
          width: 80%;
          background: green;
      }

      /* jquery */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(4) .bar span {
          width: 75%;
          background-color: darkorange;
      }

      /* bs */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(5) .bar span {
          width: 85%;
          background: #008000;
      }

      /* angular */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(6) .bar span {
          width: 85%;
          background: #008000;

      }

      /* react */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(7) .bar span {
          width: 80%;
          background: #008000;

      }

      /* vue */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(8) .bar span {
          width: 75%;
          background: darkorange;

      }

      /* sass */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(9) .bar span {
          width: 90%;
          background: green;
      }

      /* tailwind css */
      .skills-colums:nth-child(1) .skill-content .progress:nth-child(10) .bar span {
          width: 90%;
          background: green;
      }

      /* back-end skills */
      /* C# */
      .skills-colums:nth-child(2) .skill-content .progress:nth-child(1) .bar span {
          width: 90%;
          background: green;

      }

      /* linq */
      .skills-colums:nth-child(2) .skill-content .progress:nth-child(2) .bar span {
          width: 85%;
          background: green;

      }

      /* e f w */
      .skills-colums:nth-child(2) .skill-content .progress:nth-child(3) .bar span {
          width: 85%;
          background-color: green;
      }

      /* sql */
      .skills-colums:nth-child(2) .skill-content .progress:nth-child(4) .bar span {
          width: 80%;
          background-color: green;

      }

      /* mvc */
      .skills-colums:nth-child(2) .skill-content .progress:nth-child(5) .bar span {
          width: 88%;
          background-color: green;

      }

      /* signal r */
      .skills-colums:nth-child(2) .skill-content .progress:nth-child(6) .bar span {
          width: 90%;
          background-color: green;

      }

      /* api  */
      .skills-colums:nth-child(2) .skill-content .progress:nth-child(7) .bar span {
          width: 85%;
          background-color: green;

      }

      /* oop  */
      .skills-colums:nth-child(2) .skill-content .progress:nth-child(8) .bar span {
          width: 90%;
          background-color: green;

      }

      /* d s  */
      .skills-colums:nth-child(2) .skill-content .progress:nth-child(9) .bar span {
          width: 80%;
          background-color: green;

      }

      ;

      section.projects h2.heading {
          text-align: center;
          letter-spacing: 2;
      }

      ;

      section.projects {
          display: unset;
          border: unset;
      }

      .projects-row {
          display: flex !important;
          justify-content: center;
          align-items: center;
          flex-wrap: nowrap;
          color: var(--text-color);
          width: 100%;
          gap: 1rem;
      }

      ;

      .projects-column {
          border: .3rem solid var(--main-color);
          display: flex;
          flex-direction: column;
          transition: 1.5s;
          padding: 5rem 3rem;
          gap: 1rem;
          border-radius: 3rem;


      }

      .projects-column:hover {
          border: .3rem solid var(--main-color);
          display: flex;
          flex-direction: column;
          transform: translateY(3rem);
      }

      .projects-column {
          border: .3rem solid var(--main-color);
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-radius: 3rem;
          transition: 1.5s;

      }

      .projects-column .project-name {
          font-size: 1.8rem;
          /* width: 16rem; */
          border-radius: 1.5rem;
          border: .2rem solid var(--main-color);
          margin-bottom: 1rem;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          padding: .3rem;

      }

      .projects-column .project-technology {
          font-size: 2rem;
          /* width: 32rem; */
          border-radius: 1.5rem;
          border: .2rem solid var(--main-color);
          margin-bottom: 1rem;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          padding: .3rem;


      }

      .projects-column img {
          width: 90%;
          border: .2rem solid var(--main-color);
          border-radius: 3rem;
          margin-left: auto;
          margin-right: auto;
          margin: 1.5rem auto;
          height: 60rem;
      }

      .projects-column .project-github-btn {
          /* width: 20rem; */
          border: .2rem solid var(--main-color);
          border-radius: 1.5rem;
          padding: .3rem;
          display: block;
          font-size: 2rem;
          color: var(--text-color);
          letter-spacing: 1.4;
          word-spacing: 3;
          margin-top: .5rem;
          margin-bottom: 1rem;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          transition: .8s;
      }

      .projects-column .project-github-btn:hover {
          /* width: 20rem; */
          border: .2rem solid var(--main-color);
          border-radius: 1.5rem;
          padding: .3rem;
          display: block;
          font-size: 2rem;
          color: var(--text-color);
          letter-spacing: 1.4;
          word-spacing: 3;
          margin-top: .5rem;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          background-color: var(--main-color);
          color: var(--bg-color);
      }

  }